.loginbd{background:#f3f3f3;
    position: relative;}
.wid550{width:550px;padding:50px ;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:4px;box-shadow:0 2px 2px 0 rgba(38,50,57,.1);}
.loginbd .form-control{height:48px;
    border-color: #e5ecef;}
.checkbox .md-checkipt{width:16px;height:16px;margin:2px 10px 0 0;}